<body class='open-sans'>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand" href="/">IVY</a>
    <!-- button for small size screen -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/admin">CONSULTANTS</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin/highschools">HIGH SCHOOLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">ACCOUNT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id='mainContainer' class='container'>
    <div class="row justify-content-start">
      <div class='col'></div>
      <div class='col-12 col-md-10'>
        <div id='newTitle' class='h1'>New High School - Basic Info</div>
        <div id='newDescription' class='description'>Enter basic information about the high school.</div>
        <div id="basicInfoDiv" class="form-group input-div">
          <div class="row">
            <div class="col-6">
              <label for="schoolName">School Name</label>
              <input name="schoolName" type="text" class="form-control" placeholder="Aberdeen High" id="schoolName" required>
            </div>
            <div class="col-6">
              <label for="schoolLocation">Location</label>
              <input name="schoolLocation" type="text" class="form-control" placeholder="Aberdeen, MD" id="schoolLocation" required>
            </div>
          </div>
          <div class='button-group'>
            <button type="button" class="btn btn-primary btn-lg rightAlign" disabled id="saveButton">SAVE</button>
            <button type="button" class="btn btn-transparent btn-lg rightAlign" id="cancelButton">CANCEL</button>
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
  </div>
</body>
