<body class='open-sans'>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand" href="/">IVY</a>
    <!-- button for small size screen -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <%- nav %>
        <li class="nav-item active">
          <a class="nav-link" href="/account">ACCOUNT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id='mainContainer' class='container'>
    <div class="row justify-content-start">
      <div class='col'></div>
      <div class='col-12 col-md-10'>
        <div id='editTitle' class='h1'>Edit Account Information</div>
        <div id='editDescription' class='description'>Edit your account information.</div>
        <div id="infoDiv" class="form-group input-div">
          <div class="row">
            <div class="col-6">
              <label for="currentPassword">Current Password</label>
              <input name="currentPassword" type="password" class="form-control" id="currentPassword" required>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="newPassword">New Password</label>
              <input name="newPassword" type="password" class="form-control" id="newPassword" required>
            </div>
            <div class="col-6">
              <label for="newPasswordConfirm">New Password - Confirm</label>
              <input name="newPasswordConfirm" type="password" class="form-control" id="newPasswordConfirm" required>
            </div>
          </div>
          <div class='button-group'>
            <button type="button" class="btn btn-primary btn-lg rightAlign" disabled id="saveButton">SAVE</button>
            <button type="button" class="btn btn-transparent btn-lg rightAlign" id="cancelButton">CANCEL</button>
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
  </div>
</body>
