<body class='open-sans'>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand" href="/">IVY</a>
  </nav>
  <div id='mainContainer' class='container'>
    <div class='row'>
      <div class='col'></div>
      <div class='h3 col-12 col-md-5'><%- title %></div>
      <div class='col'></div>
    </div>
    <div class='row'>
      <div class='col'></div>
      <div id='loginDescription' class='col-12 col-md-5'><%- description %></div>
      <div class='col'></div>
    </div>
  </div>
</body>
