<body class='open-sans'>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand" href="/">IVY</a>
    <!-- button for small size screen -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/consult">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">ACCOUNT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id='mainContainer' class='container'>
    <div class="row justify-content-start">
      <div class='col'></div>
      <div class='col-12 col-md-10'>
        <div id='titleDiv' class='h1'>New Activity<span></span></div>
        <div id='descriptionDiv' class='description'>Enter the name of the activity.</div>
        <div id="nameDiv" class="form-group input-div">
          <div class="row">
            <div class="col-6">
              <label for="name">Activity Name</label>
              <input name="name" type="text" class="form-control" placeholder="Headstart AI Scholarship Program" id="name" required>
            </div>
          </div>
          <div class='button-group'>
            <button type="button" class="btn btn-primary btn-lg rightAlign" disabled id="nextToBasicInformationButton">NEXT</button>
            <button type="button" class="btn btn-transparent btn-lg rightAlign" id="cancelButton">CANCEL</button>
          </div>
        </div>
        <div id="basicInformationDiv" class="form-group input-div d-none">
          <div class="row">
            <div class="col-6">
              <label for="activityType">Activity Type</label>
              <select class="custom-select form-control" id="activityType">
                <option selected>Choose...</option>
                <%- activityTypes %>
              </select>
            </div>
            <div  id='activityDescription' class="col-6">
              <label for="activityDescription">Activity Description</label>
              <select class="custom-select form-control" id="activityTypeNone">
                <option selected>Choose...</option>
              </select>
              <%- activityDescriptions %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="semester">Semester</label>
              <select class="custom-select form-control" id="semester">
                <option selected>Choose...</option>
                <option value="1">Spring-Summer</option>
                <option value="2">Fall-Winter</option>
              </select>
            </div>
            <div class="col-6">
              <label for="year">Year</label>
              <input name="year" type="number" class="form-control" min="2014" max="2099" placeholder="2014-2099" id="year" required>
            </div>
          </div>
          <div class='button-group'>
            <button type="button" class="btn btn-primary btn-lg rightAlign" disabled id="saveButton">SAVE</button>
            <button type="button" class="btn btn-transparent btn-lg rightAlign" id="backToNameButton">BACK</button>
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
  </div>
</body>
